a {
    text-decoration: none;
}
img {
    width: 100%;
}

.header-top-left span {
    display: inline-block;
    margin-top: 7px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=textarea] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}



button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
/* .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
} */

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

.nav .logo a {
    font-weight: bold;
    font-size: 35px;
}

.nav a.nav-link {
    font-weight: bold;
}
.nav button.btn.btn-outline-success {
    font-weight: bold;
}

#carousel .carousel-item.boat {
    background-image: url("images/2.jpg");
}

#carousel .carousel-item.sea {
    background-image: url("images/4.jpg");
}

#carousel .carousel-item.river {
    background-image: url("images/3.jpg");
}

.slider .row {
    width: 95%;
    margin: auto;
}

#carousel .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
}

#carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
}

#carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
}

.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #fff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background: #40ba37;
}

.delicious-btn:hover,
.delicious-btn:active,
.delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #1c8314;
    border-color: #40ba37
}
.progress-full .packages {
    padding: 30px;
}
.faculties {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5%;
}
.faculties h1 {
    line-height: 2em;

}


.faculties p {
    color: #1c8314;
}
.artibox h4 {
    margin-top: 30px;

}

.artibox {
    position: relative;
}

.artibox img {
    width: 100%;
}

.faculties .article .artibox .icon {
    width: 80%;
    height: 50px;
    background: #777777;
    position: absolute;
    bottom: 40px;
    left: 26px;
    margin-bottom: 35px;
}

.ico {
    width: 100%;
    margin-top: 13px;

}
.ico a {
    color: #fff;
    margin: 6px;
}
.ico a:hover {
    color: #000;
}
.team {
    padding: 20px 40px;
}

.team .contact-box {
    padding: 10px 10px;
    box-shadow: 0px 0px 20px 10px #f9f9f9;
}

.team .contact-box .contact-input {
    padding: 10px;
}

.team .contact-box .contact-input input.form-control.mt-3 {
    background: #f9f9f9;
}

.team .contact-box .button {
    padding: 15px 0px;
}

.team .contact-box .button .btn {
    color: #fff !important;
    background: #1c8314;
    padding: 10px 30px;
    font-weight: bold;
}

.team .text {
    width: 100%;
    height: 420px;
    padding: 20px 40px;
    background: #000;
    color: #fff;
}

.team h4 {
    margin: 30px 0px;
    padding: 0;
}

.cinfo {
    margin-bottom: 30px;
}

.con {
    padding: 10px;
}

.cicon a {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    font-size: 24px;
}



.cicon a:hover {
    color: #000;
}

ul {
    list-style: none;
}

.pagination a {
    color: #1C8314;
}

.pagination a:hover {
    color: #000;
}

.footer {
    background-color: #24262b;
}
.footer .container {
    padding: 70px 0;
}
.footer-col {
    width: 33.33%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1c8314;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
.copyright {
    position: relative;
    bottom: 0;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #1C8314;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.gotopbtn:hover {
    color: #000;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}